#h_sex, #h_age, #h_rase, #h_name, #tl_1, #tl_2{
    padding: 0 5px 0 0;    
}
.m_head{
    font-weight: bold;
}
small{
    color: @l-gray - #111;
    font-size: 70%
}
button img, .i-qw, .i-rf{
    width: 16px;
    height: 16px;
    vertical-align: bottom;
}
/*
a{
    color: @m-gray;
    &:hover, &:active{
        color: @l-gray;
    }
    &:visited{
        color: @m-gray;
    }
}
*/