.clear {
  float: none!important;
  clear: both!important;
  display: block!important;
  width: 0!important;
  height: 0!important;
  margin: 0!important;
  padding: 0!important;
}
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#bg-dark {
  position: fixed;
  top: -40%;
  left: -40%;
  right: -40%;
  bottom: -40%;
  background: rgba(0, 0, 0, 0.6);
  display: none;
}
.noPrintBreak {
  page-break-inside: avoid;
}
.frame {
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  overflow: visible;
  background: #fff;
  border: 0px solid #d8d8d8;
  border-bottom-width: 2px;
  border-top-width: 0px;
}
.fr {
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  border-bottom-width: 2px;
}
.fr-convex {
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  overflow: visible;
  background: #fff;
  border: 0px solid #d8d8d8;
  border-top-width: 0px;
  /*display: inline-block;*/
  font-weight: bold;
  padding: 0.7em;
  margin: 0.3em;
  border-width: 1px;
  border-style: solid;
  border-bottom-width: 2px;
  text-decoration: none;
  border-color: #555555;
  color: #fff;
  background: #666666;
  box-shadow: 0 1px 0px 0px rgba(255, 255, 255, 0.2) inset;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.fr-concave {
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  overflow: visible;
  background: #fff;
  border: 0px solid #d8d8d8;
  border-top-width: 0px;
  /*display: inline-block;*/
  font-weight: bold;
  padding: 0.7em;
  margin: 0.3em;
  border-width: 1px;
  border-style: solid;
  border-bottom-width: 2px;
  text-decoration: none;
  border-color: #777;
  color: #fff;
  background: #666666;
  box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.2) inset;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.row {
  float: none;
  clear: both;
  overflow: hidden;
}
.row:before,
.row:after {
  content: "";
  float: none!important;
  clear: both!important;
  display: block!important;
  width: 0!important;
  height: 0!important;
  margin: 0!important;
  padding: 0!important;
}
.row .left {
  float: left;
  text-align: left;
}
.row .right {
  float: right;
  text-align: right;
}
.row .col2 {
  float: left;
  width: 12.5%;
}
.row .col3 {
  float: left;
  width: 18.75%;
}
.row .col4 {
  float: left;
  width: 37.5%;
}
.row .col5 {
  float: left;
  width: 31.25%;
}
.row .col6 {
  float: left;
  width: 50%;
}
.row .col12 {
  float: left;
  width: 100%;
}
#topMessage {
  padding: .2em;
  padding-bottom: .3em;
  background: #487EC5;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: stretch;
}
#topMessage a {
  color: #fff;
  text-decoration: none;
}
#topMessage .dDetails {
  display: none;
}
#topMessage .bHide {
  align-self: flex-end;
  box-shadow: none;
  border: none;
  cursor: pointer;
  padding: .1em .3em;
  margin: .1em .1em 0em;
  background: transparent;
  text-decoration: none;
  color: #fff;
  transition: background .3s, color .3s;
  font-weight: 600;
}
#topMessage .bHide:hover {
  background: #fefefe;
  color: #376db4;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.2);
}
* {
  box-sizing: border-box;
}
html {
  height: 100%;
  margin: 0;
  padding: 0;
  color: #555;
  font-size: 14px;
}
body {
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  background-color: #222;
  background: url('../img/t1.jpg') center center;
  background-attachment: fixed;
  background-size: cover;
  color: #555;
  width: 100%;
  height: 100%;
  position: relative;
  font-family: sans-serif;
  /*font-family: Comic Sans MS, Comic Sans MS5, cursive; /* you can delete this =) */
}
img {
  border: none;
}
button,
.bt {
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  overflow: visible;
  background: #fff;
  border: 0px solid #d8d8d8;
  border-top-width: 0px;
  /*display: inline-block;*/
  font-weight: bold;
  padding: 0.7em;
  margin: 0.3em;
  border-width: 1px;
  border-style: solid;
  border-bottom-width: 2px;
  text-decoration: none;
  border-color: #555555;
  color: #fff;
  background: #666666;
  box-shadow: 0 1px 0px 0px rgba(255, 255, 255, 0.2) inset;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: #777;
  padding: .2em;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  font-size: 100%;
}
button:hover,
.bt:hover {
  background: #888888;
}
button:active,
.bt:active {
  background: #666666;
}
input[type=checkbox] {
  display: none;
}
input[type=checkbox] + label {
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  overflow: visible;
  background: #fff;
  border: 0px solid #d8d8d8;
  border-top-width: 0px;
  /*display: inline-block;*/
  font-weight: bold;
  padding: 0.7em;
  margin: 0.3em;
  border-width: 1px;
  border-style: solid;
  border-bottom-width: 2px;
  text-decoration: none;
  border-color: #555555;
  color: #fff;
  background: #666666;
  box-shadow: 0 1px 0px 0px rgba(255, 255, 255, 0.2) inset;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: #888888;
  display: inline-block;
  padding: .35em;
  text-align: center;
}
input[type=checkbox] + label:hover {
  background: #999999;
}
input[type=checkbox] + label:active {
  background: #777;
}
input[type=checkbox] + label input {
  display: none;
}
input[type=checkbox]:checked + label {
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  overflow: visible;
  background: #fff;
  border: 0px solid #d8d8d8;
  border-top-width: 0px;
  /*display: inline-block;*/
  font-weight: bold;
  padding: 0.7em;
  margin: 0.3em;
  border-width: 1px;
  border-style: solid;
  border-bottom-width: 2px;
  text-decoration: none;
  border-color: #777;
  color: #fff;
  background: #666666;
  box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.2) inset;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: #555555;
  padding: .39em;
}
.mod_win {
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  overflow: visible;
  border: 0px solid #d8d8d8;
  border-top-width: 0px;
  /*display: inline-block;*/
  font-weight: bold;
  padding: 0.7em;
  margin: 0.3em;
  border-width: 1px;
  border-style: solid;
  border-bottom-width: 2px;
  text-decoration: none;
  border-color: #777;
  color: #fff;
  background: #666666;
  box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.2) inset;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: block;
  position: absolute;
  width: 20em;
  min-height: 15em;
  top: 1em;
  z-index: 999;
  background: #fff;
  color: #222;
  cursor: default;
  font-weight: normal;
}
#dbg {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  z-index: 88;
  background: rgba(0, 0, 0, 0.7);
}
#mainContainer {
  margin: 0 auto;
}
#menu {
  font-size: 115%;
}
#tavern {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.table {
  float: none;
  clear: both;
  overflow: auto;
  flex-grow: 1;
  flex-shrink: 1;
  max-width: 44rem;
  padding: .5rem;
  min-width: 300px;
}
.table button {
  font-size: 85%;
  width: 2rem;
  height: 2rem;
  text-shadow: 1px 1px 2px black;
}
.table input[type=checkbox] + label {
  font-size: 85%;
  width: 2rem;
  height: 2rem;
}
.table:after,
.table:before {
  float: none!important;
  clear: both!important;
  display: block!important;
  width: 0!important;
  height: 0!important;
  margin: 0!important;
  padding: 0!important;
}
.table .line {
  page-break-inside: avoid;
  float: left;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: #ddd;
  font-size: 150%;
  text-shadow: 1px 1px 2px black;
  margin: 0 0 .2em;
  transition: background .3s;
}
.table .line:hover {
  background: rgba(0, 0, 0, 0.8);
}
.table .line .header {
  min-height: 1px;
  padding-left: .2em;
  padding-right: .2em;
  /*padding-top: 2%;
            padding-bottom: 2%;*/
  float: left;
  width: 24%;
  font-weight: bold;
  padding-top: 8px;
  padding-bottom: 8px;
}
.table .line .value {
  min-height: 1px;
  padding-left: .2em;
  padding-right: .2em;
  /*padding-top: 2%;
            padding-bottom: 2%;*/
  float: left;
  width: 62%;
  padding-top: 8px;
  padding-bottom: 8px;
}
.table .line .bt_place {
  min-height: 1px;
  padding-left: .2em;
  padding-right: .2em;
  /*padding-top: 2%;
            padding-bottom: 2%;*/
  float: right;
  width: 7%;
  text-align: right;
}
#infoText {
  padding: .6rem;
  background: rgba(0, 0, 0, 0.7);
  color: #ddd;
}
select {
  background: transparent;
  color: #fff;
  text-shadow: 1px 1px 2px black;
  padding: .2em;
  z-index: 4;
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.3);
}
select option {
  background: rgba(0, 0, 0, 0.9);
  color: #fff;
  text-shadow: 1px 1px 2px black;
  padding: .2em;
}
@media only screen and (min-width: 1500px) {
  html,
  body {
    font-size: 16px;
  }
}
@media only screen and (max-width: 600px) {
  .table .line .header {
    width: 80%;
  }
  .table .line .value {
    width: 100%;
  }
  .table .line .bt_place {
    width: 10%;
  }
  #tavern {
    float: none;
    clear: both;
    overflow: auto;
  }
  #tavern:before,
  #tavern:after {
    float: none!important;
    clear: both!important;
    display: block!important;
    width: 0!important;
    height: 0!important;
    margin: 0!important;
    padding: 0!important;
  }
  #tavern button,
  #tavern .bt {
    min-height: 2rem;
    width: 2rem;
    float: left;
  }
}
@media only screen and (max-width: 435px) {
  .table .line .header {
    width: 60%;
  }
  .table .line .value {
    width: 100%;
  }
  .table .line .bt_place {
    width: 20%;
  }
  #tavern button,
  #tavern .bt {
    min-height: 1rem;
    display: block;
    width: 2rem;
    float: none;
  }
}
@media print {
  .noprint {
    display: none !important;
  }
  #wrap {
    overflow-x: hidden;
  }
  body {
    background: #fff;
    background-image: none;
    margin: 0;
    padding: 0;
  }
  .p_cont {
    width: 100%;
    margin: 0;
    padding: 0;
    margin-left: 0;
    overflow: hidden;
    transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
  }
  #wrap {
    margin: 0;
    padding: 0;
  }
  .pagebreak {
    page-break-after: always;
  }
  * {
    -webkit-print-color-adjust: exact;
  }
  .table .line {
    background: none;
    color: #333;
    text-shadow: none;
  }
  .table .line:hover {
    background: none;
  }
  .table .bt_place {
    display: none;
  }
  #infoText {
    display: none;
  }
  select {
    color: #333;
    text-shadow: none;
    font-size: 100%;
    font-weight: normal;
    display: inline-block;
    padding: 0;
    marign: 0;
    margin-right: .3em;
  }
  select option {
    width: 0;
  }
}
@page {
  margin: 1.14cm .9cm .9cm;
}
